@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100, 200,300,400,500,600,700,800,900&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  overflow-x: hidden;
  min-width: 350px;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.subtitle--left,
.subtext--left {
  font-size: 22px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 7.3px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;
  &::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    left: 0;
    top: 50%;
  }
}

.title {
  span {
    font-weight: 800;
    font-size: 200px;
    color: rgba(255, 255, 255, 0.02);
    position: relative;
    display: inline-block;
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
  }
  h3 {
    color: #ffffff;
    font-size: 80px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 294px;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: $cyan;
    }
  }
}

.subtitle {
  display: inline-block;
  text-align: right;
  &__head {
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    span {
      font-weight: 100;
      opacity: 0.8;
    }
  }
}

.slick-slide {
  outline: none;
}

.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;

  span {
    padding: 17px 57px 15px 17px;
    background-color: $cyan;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #ffffff;
      top: 50%;
      left: -10px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url(../img/arrow-right.svg);
      width: 25px;
      height: 21px;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
}

.surf,
.holder {
  padding: 160px 0 120px;
}

.holder {
  padding-bottom: 265px;
}

.holder.holder--sleep {
  padding-top: 50px;
}

.descr {
  display: inline-block; 
  &__head {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;
    padding-left: 135px;
    span {
      font-weight: 100;
      opacity: 0.8;
    }
  }
}

.headline-left {
  font-size: 22px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 7.3px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
  padding-left: 135px;
  padding-right: 103px;
  position: relative;
  display: inline-block;
  &::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    top: 50%;
    right: 0;
  }
}
