@media (max-width: 1600px) {
  .slider-map {
    max-width: 900px;
    min-height: 481px;

    .slider-dots__circle {
      width: 18px;
      height: 18px;
    }

    .slider-dots__content {
      max-height: 200px;
      padding: 15px;
      width: 250px;
    }

    .slider-dots__content-link {
      padding-top: 5px;

      img {
        height: 15px;
      }
    }

    .slider-dots__content-row {
      padding-bottom: 5px;
    }

    .slider-dots.slider-dots--1 {
      top: 249px;
    }

    .slider-dots.slider-dots--2 {
      top: 217px;
      left: -9%;
    }

    .slider-dots.slider-dots--3 {
      top: 248px;
      left: 18%;
    }

    .slider-dots.slider-dots--4 {
      top: 355px;
      left: -24%;
    }

    .slider-dots.slider-dots--5 {
      top: 168px;
    }

    .slider-dots.slider-dots--6 {
      top: 431px;
      left: -93%;
    }

    .slider-dots.slider-dots--7 {
      top: 298px;
    }

    .slider-dots.slider-dots--8 {
      top: 377px;
      left: 22%;
    }
  }

  .slider-map .slick-list {
    min-height: 481px;
  }

  .surf-box__inner {
    min-height: 700px;
  }

  .holder {
    .headline-left,
    .descr__head {
      padding-left: 100px;
    }
  }
}

@media (max-width: 1440px) {
  .header__aside {
    width: 100px;
  }

  .logo {
    img {
      width: 100px;
    }
  }

  .header__title {
    top: 0px;
    left: 7%;
    font-size: 155px;
    line-height: 117px;
  }

  .menu {
    padding-top: 20px;
  }

  .header__search {
    padding-bottom: 12px;
    padding-top: 12px;
  }

  .menu a {
    span {
      margin-bottom: 20px;
    }
  }

  .date__day {
    font-size: 60px;
  }

  .header__date {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;

    span {
      font-size: 14px;
      padding-top: 0;
    }
  }

  .header__location {
    bottom: 15px;
  }

  .header__arrows {
    left: 132px;
    bottom: 36px;
  }

  .surfboard-box.surfboard-box--one {
    .surfboard-box__content {
      padding-left: 52px;
    }
  }

  .surfboard-box.surfboard-box--two,
  .surfboard-box.surfboard-box--three {
    .surfboard-box__content {
      padding-right: 52px;
    }
  }

  .surfboard-box.surfboard-box--one,
  .surfboard-box.surfboard-box--two,
  .surfboard-box.surfboard-box--three {
    .surfboard-box__content {
      width: 250px;
    }
  }

  .surfboard-box__content {
    font-size: 18px;

    &:before {
      width: 20px;
    }
  }

  .shop {
    .shop__slider-content {
      padding-left: 0;
    }
  }
}

@media (max-width: 1366px) {
  .menu {
    padding-top: 30px;
  }

  .header__date {
    bottom: 40px;
  }

  .holder {
    .headline-left,
    .descr__head {
      padding-left: 80px;
    }
  }
}

@media (max-width: 1260px) {
  .holder-slider__descr {
    .headline-left,
    .descr__head {
      padding-left: 50px;
    }
  }

  .surf {
    padding-bottom: 0;
  }

  .shop {
    background-position: right 30%;
  }

  .shop__slider-inner {
    display: block;
    padding-left: 50px;
  }

  .shop__slider-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .shop__extras {
    padding-left: 0;
    margin-top: 100px;
    width: 370px;

    .shop__extras-title {
      text-align: center;
    }
    .shop__extras-inner {
      align-items: center;
      justify-content: space-between;
      .shop__extras-box {
        margin-right: 0;
      }
    }
  }

  .shop__slider-info {
    padding-bottom: 200px;
    .shop-slider__btn {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  .shop__slider-arrows {
    top: 90px;
  }
}

@media (max-width: 1200px) {
  .slider-map {
    max-width: 1100px;
    min-height: 220px;
    margin-bottom: 0;
    padding-top: 120px;
    overflow: hidden;

    &:after {
      content: none;
    }

    .slick-slide {
      height: 200px;
      transition: all 0.4s;
    }

    .slick-list.draggable {
      min-height: 220px;
    }

    background-image: none;

    .slider-dots {
      position: static;
    }

    .slider-dots__circle {
      display: none;
      display: static;
    }

    .slider-dots__content {
      left: 160px;
      visibility: visible;
      opacity: 1;
      padding: 10px 20px;
      background-color: #0f1010bb;
      transition: background-color 1s;
    }

    .slider-dots__content-row:first-child {
      padding-bottom: 10px;
    }

    .slick-slide.slick-current {
      .slider-dots__content.transitioned {
        background-color: #00d2ff;
        background-image: linear-gradient(
          right,
          rgba(255, 255, 255, 0.575),
          rgba(255, 255, 255, 0.267) 30%,
          rgba(0, 0, 0, 0.082) 60%,
          rgba(0, 0, 0, 0.178)
        );

        //background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 1), rgba(0, 0, 0, .1));
        //background: linear-gradient(to right, rgba(255, 255, 255, .5), rgba(0, 0, 0, .1));
        //background: linear-gradient(to right, #00d2ff, #3a7bd5);
      }
    }
  }

  .header__date {
    bottom: 35px;
  }

  .header__search {
    padding-bottom: 0;
    padding-top: 0;
  }

  .slider-item__info {
    bottom: 100px;
  }

  .slider-item__info-title {
    font-size: 60px;
    line-height: 74px;
    margin-bottom: 14px;
  }

  .slider-item__info-text {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 15px;
  }

  .header__slider-arrows {
    top: 300px;
    height: 15px;
  }

  .header__slider-arrows.header__arrow-left {
    right: 120px;
  }

  .slider-item__info-link {
    img {
      height: 15px;
    }
  }

  .subtitle--left,
  .subtext--left {
    font-size: 14px;
    line-height: 20px;
  }

  .subtitle__head {
    font-size: 34px;
  }

  .surf,
  .holder {
    padding-top: 60px;
  }

  .surf-box__inner {
    min-height: 622px;
  }

  .holder-slider__info {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .holder--travel .holder-slider__descr {
    background-position: right -137px;
  }
}

@media (max-width: 1170px) {
  .dots-box {
    max-width: 100px;

    .dots-box__num {
      font-size: 14px;
    }

    .dots-box__name {
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
    }
  }

  .header__slider-dots {
    max-width: 500px;
  }

  .header__aside {
    transform: translateX(-350px);
    -webkit-transform: translateX(-350px);
    -moz-transform: translateX(-350px);
    -ms-transform: translateX(-350px);
    -o-transform: translateX(-350px);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;

    &.show {
      transform: translateX(-0%);
      -webkit-transform: translateX(-0%);
      -moz-transform: translateX(-0%);
      -ms-transform: translateX(-0%);
      -o-transform: translateX(-0%);
    }
  }

  .header__arrows {
    display: none;
  }

  .menu-btn {
    right: 30px;
  }

  .header__title {
    left: -1%;
  }
}

@media (max-width: 1170px), (max-height: 719px) {
  .header {
    .logo {
      display: none;
    }
  }
}

@media (max-width: 1140px) {
}

@media (max-width: 1110px) {
  .slider-map {
    max-width: 1100px;
    min-height: 220px;
    margin-bottom: 0;
    padding-top: 160px;
    overflow: hidden;

    .slider-dots__content {
      max-height: 250px;
      padding: 35px;
      width: 330px;
      left: 48%;
    }
  }

  .surf-box__inner {
    min-height: 800px;
  }

  .holder.holder--sleep {
    padding-top: 0;
    .holder-slider__descr {
      min-height: 350px;
      background-size: 415px;
    }
  }

  .holder-slider__item-head {
    background-size: cover;
  }
}

@media (max-width: 1030px) {
  .slider-map {
    .slider-dots__content {
      max-height: 250px;
      padding: 30px;
      width: 275px;
    }
  }

  .holder.holder--travel .holder-slider__info-item {
    min-width: 322px;
    span {
      width: 100%;
      padding-left: 80px;
    }
  }
}

@media (max-width: 930px) {
  .surf-box__inner {
    min-height: 700px;
  }
}

@media (max-width: 920px) {
  .header__map {
    svg {
      width: 500px;
      height: 250px;
    }
  }
}

@media (max-width: 900px) {
  .holder-slider__descr {
    margin-top: -300px;
    margin-bottom: 0;
    background-size: contain;
  }

  .holder.holder--sleep {
    .holder-slider__info {
      margin-top: 40px;
    }
  }
}

@media (max-width: 875px) {
  .slider-map {
    padding-top: 185px;
    .slider-dots__content {
      width: 450px;
      padding: 45px;
    }
  }
}

@media (max-width: 730px) {
  .surf-box__inner {
    min-height: 650px;
  }

  .holder.holder--sleep {
    background-size: 150px;
    padding-bottom: 160px;
    background-position-y: 91%;
  }

  .surfboard-box.surfboard-box--one,
  .surfboard-box.surfboard-box--two,
  .surfboard-box.surfboard-box--three {
    .surfboard-box__content {
      padding: 0 10px;
      &::before {
        display: none;
      }
    }
  }

  .surfboard-box.surfboard-box--one .surfboard-box__content {
    left: -252px;
    text-align: right;
  }

  .surfboard-box.surfboard-box--two .surfboard-box__content {
    text-align: left;
    right: -250px;
  }

  .surfboard-box.surfboard-box--three .surfboard-box__content {
    text-align: left;
    right: -250px;
  }

  .shop__slider-content {
    &::before {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .header__slider-dots {
    display: none;
  }

  .slider-item__info {
    right: 20px;
    bottom: 50px;
  }

  .header__slider-arrows {
    right: 20px;
  }

  .header__slider-arrows.header__arrow-left {
    right: 60px;
  }

  .surf-box__inner {
    min-height: 600px;
  }

  .slider-map {
    .slider-dots__content {
      width: 70%;
    }
  }

  .surf__subtitle,
  .holder-slider__item-subtitle {
    padding-right: 20px;
  }
}

@media (max-width: 655px) {
  .holder.holder--travel {
    .holder-slider__descr {
      background-size: 500px;
      background-position: right -30px;
      padding-top: 200px;
    }
  }

  .holder.holder--sleep {
    .descr__head {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .holder__star-list img:first-child {
        padding-left: 0px;
        margin-left: -15px;
      }
    }

    .holder__slider-arrows {
      top: 176px;
    }
  }

  .holder-slider__info-title {
    transform: rotate(0);
    width: auto;
    top: -30px;
    left: 80px;
  }

  .holder-slider__info-item {
    min-height: 110px;
  }

  .descr {
    margin-bottom: 70px;
    padding-left: 30px;
  }

  .shop {
    .descr {
      margin-bottom: 0;
      padding-left: 0;
    }

    .shop__slider-info {
      padding-left: 30px;
    }
  }
}

@media (max-width: 600px) {
  .holder-slider__info-item {
    min-height: 90px;
  }
}

@media (max-width: 532px) {
  .header__map {
    svg {
      width: 300px;
      height: 250px;
    }
  }

  .header__slider-arrows {
    top: 110px;
  }

  .holder {
    .descr__head,
    .holder-slider__info-data {
      font-size: 34px;
    }

    .headline-left,
    .holder-slider__info-title {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .holder.holder--travel {
    background-position-y: 95%;
    background-size: 270px;
    .holder-slider__descr {
      background-size: 370px;
      background-position: right 0px;
    }
  }

  .shop__slider-content {
    margin-left: -60px;
  }

  .footer {
    padding-top: 150px;
  }

  .holder-slider__info-title {
    top: -25px;
  }
}

@media (max-width: 500px) {
  .surf-box__inner {
    min-height: 500px;
  }

  .slider-map {
    max-width: 100%;

    .slick-slide {
      width: 100%;
    }

    .slider-dots__content {
      left: 0;
      transform: translateX(-50%);
    }
  }

  .holder.holder--sleep {
    .holder-slider__descr {
      background-size: 300px;
      background-position-y: 50px;
    }
  }

  .header__slider-item {
    .slider-item__info-title {
      width: 250px;
      text-align: right;
    }
  }
}

@media (max-width: 516px) {
  .slider-map {
    .slider-dots__content {
      padding: 20px;
      left: 50%;
    }
  }
}

@media (max-width: 465px) {
  .slider-item__info-title {
    font-size: 48px;
    line-height: 38px;
  }

  .slider-item__info-text {
    font-size: 32px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .subtitle--left,
  .subtext--left {
    font-size: 12px;
    line-height: 14px;
    padding-left: 50px;

    &:before {
      width: 35px;
    }
  }

  .subtext--left {
    margin-bottom: 2px;
  }

  .header__slider-arrows {
    top: 100px;
    right: 20px;
  }

  .header__slider-arrows.header__arrow-left {
    right: 60px;
  }

  .holder.holder--travel {
    .holder-slider__info-data {
      padding-left: 20px;
      span {
        padding-left: 20px;
      }
    }

    .holder.holder--sleep {
      .holder__slider-arrows {
        top: 170px;
      }
    }
  }

  .holder.holder--sleep {
    .holder-slider__info-data {
      padding-left: 20px;
      span:not(.total-usd) {
        left: 20px;
      }

      .total-usd {
        float: none;
      }
    }

    .holder__slider-arrows {
      top: 120px;
    }
  }

  .holder {
    .title {
      span {
        font-size: 100px;
        left: 45px;
      }

      h3 {
        font-size: 40px;
        left: 210px;
      }
    }

    .subtitle__head {
      max-width: 400px;
    }

    .descr__head,
    .headline-left {
      padding-left: 20px;
    }

    .descr {
      padding-left: 0;
    }

    .holder-slider__info-title {
      left: 20px;
    }

    .holder-slider__item-head {
      padding-top: 30px;
    }

    .holder__slider-arrows {
      top: 160px;
    }
  }

  .surf {
    .title {
      span {
        font-size: 100px;
        left: 45px;
      }

      h3 {
        font-size: 40px;
        left: 210px;
      }
    }
    .surf__subtitle {
      margin: 0;

      .subtitle__head {
        font-size: 34px;
      }
      .subtitle--left {
        font-size: 14px;
      }
    }

    .slider-map {
      padding-top: 100px;
      display: inline-block;

      .slick-list.draggable {
        padding: 0;
      }
    }

    .surf-box__inner {
      min-height: 630px;
    }
  }

  .holder.holder--travel {
    .subtitle--left {
      font-size: 14px;
    }
  }

  .shop {
    .title {
      span {
        font-size: 100px;
        left: 45px;
        h3 {
          font-size: 40px;
          left: 210px;
        }
      }
    }

    .shop__slider-info {
      padding-left: 0;
    }

    .shop__slider-inner {
      padding-left: 20px;
    }

    .shop__slider-content {
      margin-left: -10px;
    }
  }
}

@media (max-width: 415px) {
  .holder.holder--travel {
    .descr__head {
      img {
        display: none;
      }
    }
  }

  .holder.holder--sleep {
    .holder__slider-arrows {
      top: 160px;
    }
  }

  .shop {
    .surfboard-box.surfboard-box--one,
    .surfboard-box.surfboard-box--two,
    .surfboard-box.surfboard-box--three {
      .surfboard-box__content {
        width: 200px;
      }
    }

    .surfboard-box.surfboard-box--one {
      .surfboard-box__content {
        left: -200px;
      }
    }

    .surfboard-box.surfboard-box--two,
    .surfboard-box.surfboard-box--three {
      .surfboard-box__content {
        left: 20px;
      }
    }

    .shop__extras {
      width: 310px;
    }
  }
}

@media (max-width: 380px) {
  .header__title {
    font-size: 72px;
    max-width: 200px;
    line-height: 50px;
  }
}

@media (max-height: 628px) and (orientation: landscape) {
  .header__map {
    display: none;
  }

  .header__slider-arrows {
    top: 40px;
    right: 80px;
  }

  .slider-item__info-title {
    font-size: 34px;
    line-height: 38px;
  }

  .header__slider-arrows.header__arrow-left {
    right: 120px;
  }

  .slider-item__info-text {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .subtitle--left,
  .subtext--left {
    font-size: 10px;
    line-height: 14px;
    padding-left: 50px;

    &:before {
      width: 35px;
    }
  }

  .subtext--left {
    margin-bottom: 2px;
  }
}

@media (max-height: 530px) and (orientation: landscape) {
  .menu .menu__list {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    width: 320px;
    padding-left: 20px;
  }

  .header__aside {
    border: none;
  }

  .header__search {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
  }
}
