@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header__slider {
  &-item {
    height: 100vh;
    background: url(../img/header-bg.jpg) top no-repeat;
    background-position-y: 20%;
    background-size: cover;
  }

  &-arrows {
    position: absolute;
    top: 40px;
    right: 85px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 2;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;

    &.header__arrow-left {
      right: 130px;

      &:hover {
        opacity: 0.7;
      }
    }

    &.header__arrow-right {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  &-dots {
    position: absolute;
    right: 50px;
    bottom: 31px;
    max-width: 920px;
    width: 100%;
    text-transform: capitalize;

    .slick-slide {
      outline: none;
    }

    .slick-current {
      .dots-box {
        border-top-color: $cyan;
      }
    }
  }
}

.dots-box {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-top: solid 4px #ffffff;
  outline: none;
  cursor: pointer;
  &__num {
    font-weight: 800;
    line-height: 34px;
    font-size: 24px;
  }

  &__name {
    line-height: 19px;
    font-weight: 300;
  }
}

.slider {
  &-item {
    &__info {
      position: absolute;
      right: 80px;
      bottom: 116px;
      text-align: right;

      &-link {
        transition: all 0.4s;
        &:hover {
          transform: translateX(10px);
        }
      }

      &-subtite {
        margin-bottom: 5px;
      }

      &-subtext {
        margin-bottom: 8px;
      }

      &-title {
        font-weight: 800;
        font-size: 80px;
        line-height: 86px;
        margin-bottom: 48px;
      }

      &-text {
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        color: #ffffff;
        margin-bottom: 20px;
      }
    }
  }
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  max-width: 168px;
  width: 100%;
  border-right: 1px solid rgba(#ffffff, 0.25);
  text-align: center;
}

.header__title {
  position: absolute;
  top: 0;
  left: -1%;
  z-index: 1;
  max-width: 467px;
  width: 100%;
  font-size: 200px;
  line-height: 156px;
  opacity: 0.07;
  font-weight: 800;
}

.header__location {
  display: inline-block;
  text-transform: capitalize;
  opacity: 1;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-left: 19px;
  max-width: 40px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  &::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 13px;
    background-image: url(../img/marker.svg);
    left: 0;
    right: 0;
    top: 0;
  }
}

.main-loader.main-loader--visible {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 5;
  overflow-y: hidden;
  background-color: rgba(22, 24, 27, 0.8);
  visibility: visible;
  overflow-y: visible;
  opacity: 1;

  .loader {
    padding-top: 45vh;
  }
}

.main-loader {
  display: none;
}

.menu {
  padding-top: 50px;

  a {
    transition: all 0.4s;
    text-transform: capitalize;

    span,
    img {
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    span {
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      padding-top: 6px;
      letter-spacing: 3px;
      margin-bottom: 30px;
    }

    &:hover img,
    &:hover span {
      opacity: 0.7;
    }
  }

  li:nth-child(3),
  li:nth-child(4) {
    a {
      span {
        padding-top: 0;
      }
    }
  }
}

.header__search {
  padding: 15px 0px 35px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;

  &:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

.header__date {
  margin-bottom: 30px;

  span {
    padding-top: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
    display: block;
  }
}

.date__day {
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  margin-bottom: 2px;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.header__arrows {
  position: absolute;
  left: 210px;
  bottom: 20px;
  z-index: 2;
  animation: MoveUpDown 1s ease-in infinite;
  -webkit-animation: MoveUpDown 1s ease-in infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
  }
}

.shore-name,
.shore-path {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
}

.shore-path {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation-fill-mode: forwards;
}

.shore-dot {
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.shore-name--east,
.shore-dot--north,
.shore-dot--south,
.shore-dot--west,
.shore-dot--east {
  animation-delay: 1.5s;
}

.shore-dot--main,
.shore-name--main {
  animation-delay: 2.5s;
}

.shore-dot {
  stroke: #4af6cd;
  stroke-width: 0px;
  stroke-linejoin: round;
}

.shore-name.shore-name--selected,
.shore-path.shore-path--selected {
  opacity: 1;
}

.shore-dot.shore-dot--selected {
  stroke: #4af6cd;
  stroke-width: 7px;
  stroke-linejoin: round;
}

.surf {
  position: relative;
  padding: 160px 0 120px;
  background-image: url("../img/poi.svg");
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;

  .slick-initialized .slick-slide {
    position: relative;
  }

  .slick-slide {
    cursor: pointer;
  }

}

.surf__subtitle {
  padding-right: 80px;
  text-align: right;
  margin-top: -86px;
  margin-bottom: -30px;
}

.surf-box {
  &__inner {
    min-height: 750px;
    background-color: rgba(#131f1f, 0.9);
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;

    &:hover {
      background: rgba(#1c2121, 0.3);
    }
  }
}

.surf-box__wrapper {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-size: 110% 130%;
}

.surf-box__inner-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding: 72px 0px 0px 40px;
  width: 140px;
}

.surf-box__inner-location {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;

  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
  bottom: 80px;
  left: 38px;
  width: 0;
  height: 0;
  white-space: nowrap;

  span {
    font-weight: 100;
  }
}

.surf-box__inner-btn {
  visibility: hidden;
  opacity: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.surf-slider {
  padding-top: 110px;

  .slick-arrow {
    opacity: 0.25;
    visibility: visible;
    top: 50px;

    &:hover {
      opacity: 1;
    }
  }

  .slick-slide {
    margin: 0 -20px;
  }

  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }

  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }

  .slick-current {
    .surf-box__inner-btn.transitioned {
      visibility: visible;
      opacity: 1;
    }

    .surf-box__inner.transitioned {
      background-color: transparent;
    }
  }
}

.surf__slider-arrows {
  position: absolute;
  top: 40px;
  right: 85px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  z-index: 2;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;

  &.surf__arrow-left {
    right: 130px;

    &:hover {
      opacity: 1;
    }
  }

  &.surf__arrow-right {
    &:hover {
      opacity: 1;
    }
  }
}

.slider-map {
  max-width: 1200px;
  width: 100%;
  min-height: 635px;
  background-image: url(../img/world-map-dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;

  &::after {
    content: "34.0501 N -118.2446 W";
    position: absolute;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 8px;
    text-transform: uppercase;
    opacity: 0.3;
    transform: rotate(-90deg);
    right: -22%;
    bottom: 40%;
    width: 400px;
  }

  .slick-list {
    min-height: 635px;
    overflow: visible;
  }

  .slick-slide {
    outline: none;
  }

  .slick-current {
    .slider-dots__content.transitioned {
      visibility: visible;
      opacity: 1;
    }

    .slider-dots__circle.transitioned {
      border-top-right-radius: 0;
      transform: rotate(-45deg);
    }
  }
}

.slider-dots__circle {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: $cyan;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0px 0px 35px rgba($cyan, 0.837777);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.slider-dots__content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transform: translateX(-45%);
  bottom: 40px;
  width: 285px;
  padding: 28px 31px 0 32px;
  z-index: 5;
  background: #0f1010bb;
  border-radius: 6px;
  -webkit-transform: translateX(-45%);
  -moz-transform: translateX(-45%);
  -ms-transform: translateX(-45%);
  -o-transform: translateX(-45%);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.slider-dots__content-item {
  text-align: center;
  display: block;

  img {
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.slider-dots__content-data {
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}

.slider-dots__content-name {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
}

.slider-dots__content-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: $cyan;
    width: 80px;
    height: 1px;
    bottom: 0;
    left: 0;
  }
}

.slider-dots__content-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.slider-dots__content-link {
  padding-top: 3px;
  outline: none;
  transition: all 0.4s;
  &:hover {
    transform: translateX(5px);
  }
}

.slider-dots {
  position: relative;
  outline: none;
}

.slider-dots--1 {
  top: 330px;
  left: -10%;
}

.slider-dots--2 {
  top: 300px;
  left: 5%;
  // .slider-dots__circle {
  //   position: relative;
  //   &::before {
  //     content: '';
  //     position: absolute;
  //     background-image: url('../img/surfmap-poi.png');
  //     width: 14px;
  //     height: 16px;
  //     background-size: cover;
  //     right: -20px;
  //     top: -20px;
  //   }
  // }
}

.slider-dots--3 {
  top: 315px;
  left: 20%;
}

.slider-dots--4 {
  top: 515px;
  left: -45%;
}

.slider-dots--5 {
  top: 210px;
  left: -45%;
}

.slider-dots--6 {
  top: 550px;
  left: -75%;
}

.slider-dots--7 {
  top: 390px;
  left: -65%;
}

.slider-dots--8 {
  top: 490px;
  left: 30%;
}

.holder {
  background: url(../img/cocktail.png) no-repeat bottom right;

  &.holder--sleep {
    background: url(../img/frangipani.png) no-repeat bottom right;
    background-position-y: 85%;
  }
}

.holder-slider {
  &__btn {
    text-align: center;
  }
}

.holder-slider__item-head {
  padding-top: 92px;
  min-height: 780px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.holder-slider__item-subtitle {
  padding-right: 80px;
  text-align: right;
}

.holder-slider__descr {
  margin-top: -280px;
  padding: 170px 0 0 0;
  min-height: 320px;
  background-repeat: no-repeat;
  background-position: right center;
  margin-bottom: 60px;

  img {
    padding-left: 20px;
  }

  .holder__star-list {
    display: flex;

    img:not(:first-child) {
      display: inline-block;
      margin-left: -35px;
    }
  }
}

.holder.holder--sleep {
  .holder-slider__descr {
    min-height: 430px;
    margin-bottom: -30px;
  }
}

.holder.holder--travel {
  .holder-slider__descr {
    background-position-x: 100vw;
    transition: all 0.7s ease-in-out;
  }

  .holder-slider__descr.transitioned {
    background-position-x: 100%;
  }
}

.holder-slider__info {
  display: flex;
  justify-content: space-around;
}

.holder-slider__info-item {
  min-height: 200px;
  margin-bottom: 60px;
  position: relative;

  .guests-buttons,
  .nights-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    padding-left: 5px;
    max-width: 90px;

    img {
      cursor: pointer;
    }

    img:not(:last-child) {
      padding-right: 15px;
    }
  }
}

.holder-slider__info-title {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: 0.5;
  transform: rotate(-90deg);
  position: absolute;
  width: 200px;
  left: -55px;
  top: 95px;
  text-align: right;
  height: 0;
  white-space: nowrap;
}

.holder-slider__info-data {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding-left: 80px;
  position: relative;
  min-width: 277px;
  text-align: justify;

  span:not(.nights-total):not(.guests-total):not(.night):not(.guest):not(.total-cost):not(.total-usd) {
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 5.25px;
    font-weight: 400;
    opacity: 0.75;
    position: absolute;
    top: 35px;
    right: 0;
  }

  .nights-total,
  .guests-total {
    position: absolute;
  }

  .night,
  .guest {
    padding-left: 45px;
  }

  .total-usd {
    float: right;
  }
}

.holder__slider-arrows {
  position: absolute;
  top: 220px;
  right: 85px;
  opacity: 0.25;
  cursor: pointer;
  z-index: 2;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;

  &.holder__arrow-left {
    right: 130px;

    &:hover {
      opacity: 1;
    }
  }

  &.holder__arrow-right {
    &:hover {
      opacity: 1;
    }
  }
}

.shop {
  background-image: url(../img/shop-bg.png);
  background-repeat: no-repeat;
  background-position: right center;

  &__slider {
    margin-top: -60px;
  }

  &__slider-inner {
    padding-left: 132px;
  }

  .headline-left {
    padding-left: 0;
  }

  .descr__head {
    padding-left: 0;
    max-width: 346px;

    &-shop {
      margin-bottom: 47px;
    }
  }

  &__slider-inner {
    display: flex;
  }

  &__slider-info {
    padding-top: 150px;
    max-width: 480px;
    margin-right: 40px;
    width: 100%;
  }

  &__slider-price {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;

    sup {
      font-weight: 800;
      font-size: 18px;
      line-height: 40px;
    }
  }

  &__star-list {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: -15px;
    display: flex;

    img {
      margin-left: -25px;
    }
  }

  .shop-slider__btn {
    margin-top: 64px;
  }

  &__slider-content {
    padding-left: 170px;
    display: flex;
    align-items: flex-end;
  }

  &__extras {
    padding-left: 150px;

    &-title {
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 800;
      font-size: 28px;
    }

    &-box {
      margin-right: 57px;
      text-align: center;
    }

    &-img {
      min-height: 105px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 35px;
    }

    &-name {
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      opacity: 0.5;
      margin-bottom: 16px;
    }

    &-price {
      font-weight: 800;
      font-size: 18px;
      line-height: 40px;
    }
  }

  &__extras-inner {
    display: flex;
  }
}

.surfboard {
  position: relative;
}

.surfboard-box {
  position: absolute;

  &__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  &__content {
    position: absolute;
    opacity: 0;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    width: 290px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }

  &__content::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.5;
  }
}

.surfboard-box.surfboard-box--one {
  top: 200px;
  right: 30px;

  .surfboard-box__content {
    top: -15px;
    left: 20px;
    width: 390px;
    padding-left: 112px;

    &::before {
      left: 10px;
      top: 50%;
    }
  }
}

.surfboard-box.surfboard-box--two {
  top: 300px;
  left: -5px;

  .surfboard-box__content {
    text-align: right;
    top: -15px;
    right: 20px;
    width: 390px;
    padding-right: 112px;

    &::before {
      right: 10px;
      top: 50%;
    }
  }
}

.surfboard-box.surfboard-box--three {
  bottom: 65px;
  left: 52px;

  .surfboard-box__content {
    text-align: right;
    top: -15px;
    right: 20px;
    width: 390px;
    padding-right: 112px;

    &::before {
      right: 10px;
      top: 50%;
    }
  }
}

.circle-btn {
  height: 100%;
  background-image: url("../img/surfboard-minus.png");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.shop__slider-arrows {
  position: absolute;
  top: 0;
  right: 85px;
  opacity: 0.25;
  cursor: pointer;
  z-index: 2;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;

  &.shop__arrow-left {
    right: 130px;

    &:hover {
      opacity: 1;
    }
  }

  &.shop__arrow-right {
    &:hover {
      opacity: 1;
    }
  }
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 200px 0 34px 0;

  .btn {
    span {
      padding-right: 17px;

      &::after {
        display: none;
      }
    }
  }

  &__copy {
    margin-top: 60px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    opacity: 0.5;

    span {
      color: #d82c2c;
      font-weight: 600;
    }
  }

  &__poweredby {
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    img {
      max-width: 200px;
    }
  }
}

.menu-btn {
  color: $cyan;
  position: absolute;
  top: 30px;
  right: -60px;
  z-index: 5;
  cursor: pointer;
  transition: all 0.4s;
  opacity: 0.8;
  font-size: 34px;
  &:hover {
    opacity: 1;
  }
  &__line {
    border-radius: 2px;
    height: 5px;
    margin-bottom: 5px;
    background-color: $cyan;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
}

@import "media";
